/* refactor cell-hiden */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
}

.grid {
  height: 767px;
  width: 767px;
  padding: 4px;
  background: white;
}
    
/*  
5 default cells:
  .cell -- filled with text
  .cell-no-text -- filled, no text
  .cell-clear -- transparent, no text
  .cell-thin-frame -- transparent with thin frame, no text
  .cell-thick-frame -- transparent with tick frame, no text
2 flags:
  .cell-guide -- identical to cell
  .cell-is-selected -- full opacity
*/

.cell, .cell-guide {
  height: 61px;
  width: 61px;
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  margin: 4px;
  padding: 2px;
  float: left;
  opacity: .33;
  line-height: 57px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.three-digits {
  font-size: 35px;
}

/*
.cell-hidden {
  visibility: hidden;
}
*/

.cell-hidden, .cell-thin-frame, .cell-thick-frame, .cell-no-text {
  font-size: 0px;
}

.cell-hidden, .cell-thin-frame, .cell-thick-frame {
  background-color: white !important; 
}

.cell-thin-frame {
  border-width: 8px;
}

.cell-thick-frame {
  border-width: 20px;
}

.is-selected {
  opacity: 1;
}
