html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app {
  display: grid;
  height: 759px;
  width: 897px;
  grid-gap: 4px;
  grid-template-rows: repeat(11, 65px);
  grid-template-columns: repeat(13, 65px);
  grid-template-areas: "operator factor-col factor-col factor-col factor-col factor-col factor-col factor-col factor-col factor-col factor-col ... controller" "factor-row product product product product product product product product product product ... ..." "factor-row product product product product product product product product product product ... ..." "factor-row product product product product product product product product product product ... keypad" "factor-row product product product product product product product product product product ... keypad" "factor-row product product product product product product product product product product ... keypad" "factor-row product product product product product product product product product product ... keypad" "factor-row product product product product product product product product product product ... keypad" "factor-row product product product product product product product product product product ... ..." "factor-row product product product product product product product product product product ... ..." "factor-row product product product product product product product product product product ... timer";
  background-color: #FFFFFF;
}

.operator {
  grid-area: operator;
}

.controller {
  grid-area: controller;
}

.timer {
  grid-area: timer;
}

.factor-row {
  grid-area: factor-row;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: repeat(10, 65px);
  grid-template-columns: 65px;
  grid-template-areas: "factor-row-1 " "factor-row-2 " "factor-row-3 " "factor-row-4 " "factor-row-5 " "factor-row-6 " "factor-row-7 " "factor-row-8 " "factor-row-9 " "factor-row-10 ";
  background-color: #FFFFFF;
}

.factor-row-1 {
  grid-area: factor-row-1;
}

.factor-row-2 {
  grid-area: factor-row-2;
}

.factor-row-3 {
  grid-area: factor-row-3;
}

.factor-row-4 {
  grid-area: factor-row-4;
}

.factor-row-5 {
  grid-area: factor-row-5;
}

.factor-row-6 {
  grid-area: factor-row-6;
}

.factor-row-7 {
  grid-area: factor-row-7;
}

.factor-row-8 {
  grid-area: factor-row-8;
}

.factor-row-9 {
  grid-area: factor-row-9;
}

.factor-row-10 {
  grid-area: factor-row-10;
}

.factor-col {
  grid-area: factor-col;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 65px;
  grid-template-columns: repeat(10, 65px);
  grid-template-areas: "factor-col-1 factor-col-2 factor-col-3 factor-col-4 factor-col-5 factor-col-6 factor-col-7 factor-col-8 factor-col-9 factor-col-10";
  background-color: #FFFFFF;
}

.factor-col-1 {
  grid-area: factor-col-1;
}

.factor-col-2 {
  grid-area: factor-col-2;
}

.factor-col-3 {
  grid-area: factor-col-3;
}

.factor-col-4 {
  grid-area: factor-col-4;
}

.factor-col-5 {
  grid-area: factor-col-5;
}

.factor-col-6 {
  grid-area: factor-col-6;
}

.factor-col-7 {
  grid-area: factor-col-7;
}

.factor-col-8 {
  grid-area: factor-col-8;
}

.factor-col-9 {
  grid-area: factor-col-9;
}

.factor-col-10 {
  grid-area: factor-col-10;
}

.product {
  grid-area: product;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: repeat(10, 65px);
  grid-template-columns: repeat(10, 65px);
  grid-template-areas: "product-1-1 product-1-2 product-1-3 product-1-4 product-1-5 product-1-6 product-1-7 product-1-8 product-1-9 product-1-10" "product-2-1 product-2-2 product-2-3 product-2-4 product-2-5 product-2-6 product-2-7 product-2-8 product-2-9 product-2-10" "product-3-1 product-3-2 product-3-3 product-3-4 product-3-5 product-3-6 product-3-7 product-3-8 product-3-9 product-3-10" "product-4-1 product-4-2 product-4-3 product-4-4 product-4-5 product-4-6 product-4-7 product-4-8 product-4-9 product-4-10" "product-5-1 product-5-2 product-5-3 product-5-4 product-5-5 product-5-6 product-5-7 product-5-8 product-5-9 product-5-10" "product-6-1 product-6-2 product-6-3 product-6-4 product-6-5 product-6-6 product-6-7 product-6-8 product-6-9 product-6-10" "product-7-1 product-7-2 product-7-3 product-7-4 product-7-5 product-7-6 product-7-7 product-7-8 product-7-9 product-7-10" "product-8-1 product-8-2 product-8-3 product-8-4 product-8-5 product-8-6 product-8-7 product-8-8 product-8-9 product-8-10" "product-9-1 product-9-2 product-9-3 product-9-4 product-9-5 product-9-6 product-9-7 product-9-8 product-9-9 product-9-10" "product-10-1 product-10-2 product-10-3 product-10-4 product-10-5 product-10-6 product-10-7 product-10-8 product-10-9 product-10-10";
  background-color: #FFFFFF;
}

.product-1-1 {
  grid-area: product-1-1;
}

.product-1-2 {
  grid-area: product-1-2;
}

.product-1-3 {
  grid-area: product-1-3;
}

.product-1-4 {
  grid-area: product-1-4;
}

.product-1-5 {
  grid-area: product-1-5;
}

.product-1-6 {
  grid-area: product-1-6;
}

.product-1-7 {
  grid-area: product-1-7;
}

.product-1-8 {
  grid-area: product-1-8;
}

.product-1-9 {
  grid-area: product-1-9;
}

.product-1-10 {
  grid-area: product-1-10;
}

.product-2-1 {
  grid-area: product-2-1;
}

.product-2-2 {
  grid-area: product-2-2;
}

.product-2-3 {
  grid-area: product-2-3;
}

.product-2-4 {
  grid-area: product-2-4;
}

.product-2-5 {
  grid-area: product-2-5;
}

.product-2-6 {
  grid-area: product-2-6;
}

.product-2-7 {
  grid-area: product-2-7;
}

.product-2-8 {
  grid-area: product-2-8;
}

.product-2-9 {
  grid-area: product-2-9;
}

.product-2-10 {
  grid-area: product-2-10;
}

.product-3-1 {
  grid-area: product-3-1;
}

.product-3-2 {
  grid-area: product-3-2;
}

.product-3-3 {
  grid-area: product-3-3;
}

.product-3-4 {
  grid-area: product-3-4;
}

.product-3-5 {
  grid-area: product-3-5;
}

.product-3-6 {
  grid-area: product-3-6;
}

.product-3-7 {
  grid-area: product-3-7;
}

.product-3-8 {
  grid-area: product-3-8;
}

.product-3-9 {
  grid-area: product-3-9;
}

.product-3-10 {
  grid-area: product-3-10;
}

.product-4-1 {
  grid-area: product-4-1;
}

.product-4-2 {
  grid-area: product-4-2;
}

.product-4-3 {
  grid-area: product-4-3;
}

.product-4-4 {
  grid-area: product-4-4;
}

.product-4-5 {
  grid-area: product-4-5;
}

.product-4-6 {
  grid-area: product-4-6;
}

.product-4-7 {
  grid-area: product-4-7;
}

.product-4-8 {
  grid-area: product-4-8;
}

.product-4-9 {
  grid-area: product-4-9;
}

.product-4-10 {
  grid-area: product-4-10;
}

.product-5-1 {
  grid-area: product-5-1;
}

.product-5-2 {
  grid-area: product-5-2;
}

.product-5-3 {
  grid-area: product-5-3;
}

.product-5-4 {
  grid-area: product-5-4;
}

.product-5-5 {
  grid-area: product-5-5;
}

.product-5-6 {
  grid-area: product-5-6;
}

.product-5-7 {
  grid-area: product-5-7;
}

.product-5-8 {
  grid-area: product-5-8;
}

.product-5-9 {
  grid-area: product-5-9;
}

.product-5-10 {
  grid-area: product-5-10;
}

.product-6-1 {
  grid-area: product-6-1;
}

.product-6-2 {
  grid-area: product-6-2;
}

.product-6-3 {
  grid-area: product-6-3;
}

.product-6-4 {
  grid-area: product-6-4;
}

.product-6-5 {
  grid-area: product-6-5;
}

.product-6-6 {
  grid-area: product-6-6;
}

.product-6-7 {
  grid-area: product-6-7;
}

.product-6-8 {
  grid-area: product-6-8;
}

.product-6-9 {
  grid-area: product-6-9;
}

.product-6-10 {
  grid-area: product-6-10;
}

.product-7-1 {
  grid-area: product-7-1;
}

.product-7-2 {
  grid-area: product-7-2;
}

.product-7-3 {
  grid-area: product-7-3;
}

.product-7-4 {
  grid-area: product-7-4;
}

.product-7-5 {
  grid-area: product-7-5;
}

.product-7-6 {
  grid-area: product-7-6;
}

.product-7-7 {
  grid-area: product-7-7;
}

.product-7-8 {
  grid-area: product-7-8;
}

.product-7-9 {
  grid-area: product-7-9;
}

.product-7-10 {
  grid-area: product-7-10;
}

.product-8-1 {
  grid-area: product-8-1;
}

.product-8-2 {
  grid-area: product-8-2;
}

.product-8-3 {
  grid-area: product-8-3;
}

.product-8-4 {
  grid-area: product-8-4;
}

.product-8-5 {
  grid-area: product-8-5;
}

.product-8-6 {
  grid-area: product-8-6;
}

.product-8-7 {
  grid-area: product-8-7;
}

.product-8-8 {
  grid-area: product-8-8;
}

.product-8-9 {
  grid-area: product-8-9;
}

.product-8-10 {
  grid-area: product-8-10;
}

.product-9-1 {
  grid-area: product-9-1;
}

.product-9-2 {
  grid-area: product-9-2;
}

.product-9-3 {
  grid-area: product-9-3;
}

.product-9-4 {
  grid-area: product-9-4;
}

.product-9-5 {
  grid-area: product-9-5;
}

.product-9-6 {
  grid-area: product-9-6;
}

.product-9-7 {
  grid-area: product-9-7;
}

.product-9-8 {
  grid-area: product-9-8;
}

.product-9-9 {
  grid-area: product-9-9;
}

.product-9-10 {
  grid-area: product-9-10;
}

.product-10-1 {
  grid-area: product-10-1;
}

.product-10-2 {
  grid-area: product-10-2;
}

.product-10-3 {
  grid-area: product-10-3;
}

.product-10-4 {
  grid-area: product-10-4;
}

.product-10-5 {
  grid-area: product-10-5;
}

.product-10-6 {
  grid-area: product-10-6;
}

.product-10-7 {
  grid-area: product-10-7;
}

.product-10-8 {
  grid-area: product-10-8;
}

.product-10-9 {
  grid-area: product-10-9;
}

.product-10-10 {
  grid-area: product-10-10;
}

.keypad {
  grid-area: keypad;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: repeat(5, 65px);
  grid-template-columns: 65px;
  grid-template-areas: "keypad-1 " "keypad-2 " "keypad-3 " "keypad-4 " "keypad-5 ";
  background-color: #FFFFFF;
}

.keypad-1 {
  grid-area: keypad-1;
}

.keypad-2 {
  grid-area: keypad-2;
}

.keypad-3 {
  grid-area: keypad-3;
}

.keypad-4 {
  grid-area: keypad-4;
}

.keypad-5 {
  grid-area: keypad-5;
}

.operator,
.controller,
.timer,
.factor-row > *,
.factor-col > *,
.keypad > *,
.product > * {
  height: 65px;
  width: 65px;
  padding: 2px;
  float: left;
  background-color: #FFFFFF;
  opacity: 0.33;
  border-radius: 8px;
  line-height: 61px;
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;
}

.opaque {
  opacity: 1;
}

.font-medium {
  font-size: 35px;
}

.hidden,
.border-thin,
.border-thick {
  background-color: #FFFFFF !important;
}

.border-thin {
  border-width: 8px !important;
}

.border-thick {
  border-width: 20px !important;
}

.background-color-0 {
  background-color: #BEC2CB;
}

.background-color-1 {
  background-color: #F8EECA;
}

.background-color-2 {
  background-color: #F5DC9A;
}

.background-color-3 {
  background-color: #8EB155;
}

.background-color-4 {
  background-color: #497367;
}

.background-color-5 {
  background-color: #2B3F00;
}

.background-color-6 {
  background-color: #764000;
}

.background-color-7 {
  background-color: #E19E57;
}

.background-color-8 {
  background-color: #010570;
}

.background-color-9 {
  background-color: #3266B2;
}

.background-color-10 {
  background-color: #B8F7FE;
}

.border-color-0 {
  border-color: #BEC2CB;
  border-style: solid;
  border-width: 0px;
}

.border-color-1 {
  border-color: #F8EECA;
  border-style: solid;
  border-width: 0px;
}

.border-color-2 {
  border-color: #F5DC9A;
  border-style: solid;
  border-width: 0px;
}

.border-color-3 {
  border-color: #8EB155;
  border-style: solid;
  border-width: 0px;
}

.border-color-4 {
  border-color: #497367;
  border-style: solid;
  border-width: 0px;
}

.border-color-5 {
  border-color: #2B3F00;
  border-style: solid;
  border-width: 0px;
}

.border-color-6 {
  border-color: #764000;
  border-style: solid;
  border-width: 0px;
}

.border-color-7 {
  border-color: #E19E57;
  border-style: solid;
  border-width: 0px;
}

.border-color-8 {
  border-color: #010570;
  border-style: solid;
  border-width: 0px;
}

.border-color-9 {
  border-color: #3266B2;
  border-style: solid;
  border-width: 0px;
}

.border-color-10 {
  border-color: #B8F7FE;
  border-style: solid;
  border-width: 0px;
}

/*# sourceMappingURL=style.css.map */
