$cell-colors: #BEC2CB, #F8EECA, #F5DC9A, #8EB155, #497367, 
              #2B3F00, #764000, #E19E57, #010570, #3266B2,
              #B8F7FE;

$colors: white;

@mixin cell-box {
  height: 61px;
  width: 61px;
  margin: 4px;
  padding: 2px;
  float: left;
  border-radius: 8px;
  opacity: .33;
}

@mixin cell-text {
  line-height: 57px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;
}
