@use "palette";

@mixin app-mixin {
  $areas: ();
  @for $i from 1 through 11 {
    $nested: "";
    @for $j from 1 through 13 {
      $name: "...";
      @if $i == 1 and $j == 1 {
        $name: "operator";
      }
      @else if $j == 1 and $i <= 11 {
        $name: "factor-row";
      }
      @else if $i == 1 and $j <= 11 {
        $name: "factor-col";
      }
      @else if $i <= 11 and $j <= 11 {
        $name: "product";
      }
      @else if $j == 12 {
        // $name: "...";
      }
      @else if $i == 1 {
        $name: "controller";
      }
      @else if $i >= 4 and $i <= 8 {
        $name: "keypad";
      }
      @else if $i == 11 {
        $name: "timer";
      }
      $name: $name + " ";
      $nested: $nested + $name;
    }
    $nested: str-slice($nested, 1, -2);
    $areas: append($areas, $nested);
  }

  .app {
    display: grid;
    height: 759px;
    width: 897px;
    grid-gap: 4px;
    grid-template-rows: repeat(11, 65px);
    grid-template-columns: repeat(13, 65px);
    grid-template-areas: $areas;
    background-color: nth(palette.$lights, 1);
  }
}
