@use "palette";

@mixin app-mixin {
  $areas: ();
  @for $i from 0 through 10 {
    $nested: "";
    @for $j from 0 through 12 {
      $name: "...";
      @if $i == 0 and $j == 0 {
        $name: "operator";
      }
      @else if $j == 0 and $i <= 10 {
        $name: "factor-row-" + inspect($i);
      }
      @else if $i == 0 and $j <= 10 {
        $name: "factor-col-" + inspect($j);
      }
      @else if $i <= 10 and $j <= 10 {
        $name: "product-" + inspect($i) + "-" + inspect($j);
      }
      @else if $j == 11 {
        // $name: "...";
      }
      @else if $i == 0 {
        $name: "controller";
      }
      @else if $i >= 3 and $i <= 7 {
        $name: "keypad-" + inspect($i - 2);
      }
      @else if $i == 10 {
        $name: "timer";
      }

      @if $name != "..." {
        .#{$name} {
          grid-area: #{$name};
          background-color: purple !important;
        }
      }

      $name: $name + " ";
      $nested: $nested + $name;
    }
    $nested: str-slice($nested, 1, -2);
    $areas: append($areas, $nested);
  }

  .app {
    display: grid;
    height: 759px;
    width: 897px;
    grid-gap: 4px;
    grid-template-rows: repeat(11, 65px);
    grid-template-columns: repeat(13, 65px);
    grid-template-areas: $areas;
    background-color: nth(palette.$lights, 1);
  }
}
