@use "_palette";
@use "_cell";
@use "_grid";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@include grid.app-mixin;

.app > * {
  height: 65px;
  width: 65px;
  padding: 2px;
  float: left;
  background-color: nth(palette.$lights, 1);
  opacity: .33;
  border-radius: 8px;
  line-height: 57px;
  text-align: center;
  color: nth(palette.$lights, 1);
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;
}

.translucent {
}

.opaque {
  opacity: 1;
}

.font-medium {
  font-size: 35px;
}

.hidden, 
.border-thin, 
.border-thick {
  background-color: nth(palette.$lights, 1) !important;
}

.border-thin {
  border-width: 8px !important;
}

.border-thick {
  border-width: 20px !important;
}

@include cell.background-color-mixin;

@include cell.border-color-mixin;

