.board-container {
    height: 370px;
    width: 370px;
}

.board-container .row {
    height: 100%;
}

.board-square {
    border: 2px solid #F7F7F7;
    height: 25%;
    width: 25%;
    padding: 0;
    
    overflow: hidden;
}

.face-container {
    height: 200%;
    width: 100%;
    
    position: relative;
    top: 0;
    transition: 400ms;
}

.faceup, .facedown {
    height: 50%;
}

.facedown {
    background-color: #D0D0D0;
}

.faceup {
}

.flipped .face-container {
    top: -100%;
}
